html,
body,
div,
span,
applet,
object,
iframe,
h3,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.page-title {
    background: transparent;
    border-bottom: 1px solid #eeeeee;
    padding: 30px 0;
}

.page-title {
    margin-bottom: 40px;
    padding: 37px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
}

.page-title .entry-title-main,
.breadcrumbs,
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
    text-align: center;
    width: 100%;
}

.page-title .entry-title-main {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 3px 0;
    text-transform: uppercase;
    float: left;
}

.breadcrumbs p {
    margin: 0;
}

p {
    margin-bottom: 24px;
}

.woocommerce .woocommerce-breadcrumb span a,
.woocommerce-page .woocommerce-breadcrumb span a,
.breadcrumbs a {
    color: #000;
    font-weight: normal;
    padding: 0 0px;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: auto;
    text-align: initial;
    width: 100%;
    border-radius: inherit;
}

.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
    background: #fff;
}

.woocommerce table.shop_table.cart,
.woocommerce-page table.shop_table.cart {
    margin: 0 0 30px;
}

table,
th,
td {
    border: 1px solid #e5e5e5;
}

.woocommerce #content table.cart td,
.woocommerce #content table.cart th,
.woocommerce table.cart td,
.woocommerce table.cart th,
.woocommerce-page #content table.cart td,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart td,
.woocommerce-page table.cart th {
    vertical-align: middle;
    text-align: center;
}

a.remove {
    margin: auto;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    background: #fff;
    color: #000;
}

.entry-content th,
.comment-content th {
    padding: 5px 10px;
}

.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table tbody td,
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    border-color: #e5e5e5!important;
    padding: 5px 10px!important;
    box-sizing: border-box;
}

a {
    color: #808080;
    text-decoration: none;
    cursor: pointer;
}

.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail {
    min-width: 32px;
}

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    height: 1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    width: 1em;
}

a {
    color: #484848;
}

a {
    color: #808080;
    text-decoration: none;
    cursor: pointer;
}

.quantity input.qty {
    border: 1px solid #e5e5e5;
    text-align: center!important;
    width: 60px;
    height: 45px;
    display: inline;
    padding: 8px;
    margin: 0 3px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
    text-align: right;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
    float: left;
}

.woocommerce #content table.cart td.actions .coupon label,
.woocommerce table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label {
    display: none;
}

.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #e5e5e5;
    margin: 0 5px 0 0;
    outline: 0;
    line-height: 24px;
}

.woocommerce .cart .button {
    float: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

.woocommerce button.button,
.woocommerce-page button.button {
    border: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    display: inline-block;
    padding: 8px 19px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-transform: uppercase;
    background: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    width: auto;
    line-height: 20px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 9%);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 2px 2px 4px rgb(0 0 0 / 9%);
}

.woocommerce button.button,
.woocommerce-page button.button {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    border-color: #EEEEEE;
    font-family: Raleway;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 120px;
}

input,
textarea {
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 50%;
    text-align: right;
    margin: 0 0 50px;
}

.shipping_calculator>h2,
.cart_totals>h2 {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

h2 {
    color: #000000;
    font-size: 20px;
    line-height: 1;
    margin: 10px 0;
}

.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
    border-collapse: separate;
    padding: 0;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    margin: 20px 0 30px;
    width: 100%;
    border-collapse: separate;
    background: #fff;
}

.cart_totals table {
    display: inline-table;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th {
    padding: 6px 12px 6px 10px;
    width: 50%;
    background: #f5f5f5;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    background: #fff;
    color: #000;
}

.wc-proceed-to-checkout {
    margin: 30px 0;
}

.wc-proceed-to-checkout .button.checkout-button {
    font-size: 1.21575em;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt,
.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
    display: inline-block;
    padding: 11px 40px 9px;
    box-sizing: border-box;
}

.woocommerce .wc-proceed-to-checkout .checkout-button {
    background-color: rgba(0, 0, 0, 1);
    color: #FFFFFF;
    border-color: #000000;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt,
.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
    display: inline-block;
    padding: 11px 40px 9px;
    box-sizing: border-box;
}

.page .entry-content {
    padding-top: 0;
    margin: 0;
}

.full-width #primary {
    width: 100%!important;
    margin: 0!important;
}

.full-width #primary {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
}

#primary {
    float: initial;
    width: 1100px;
    margin: auto;
}

#content {
    position: relative;
    min-height: 600px;
}

.full-width .hentry {
    max-width: 100%;
}

.hentry {
    margin: auto;
    position: relative;
}