html,
body,
div,
span,
applet,
object,
iframe,
h3,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    float: left;
    padding: 0;
    width: 49%;
    box-sizing: border-box;
}

div {
    display: block;
}

.woocommerce-checkout h3 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h3 {
    color: #000000;
}

h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 1.0909090909;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 10px 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.woocommerce-page .hentry .entry-content p,
.hentry .entry-content .woocommerce p {
    clear: none;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row {
    padding: 3px 0;
    margin: 0 0 6px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}

.entry-summary .excerpt,
.entry-content p {
    color: #808080;
    line-height: 2em;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    line-height: 2em;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    display: block;
}

.woocommerce form .form-row .required {
    visibility: visible;
}

.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0;
}

input,
textarea {
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
}

button,
input {
    line-height: normal;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
}

.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
    float: right;
}

label {
    cursor: default;
}

element.style {
    width: 100%;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

button,
input,
select,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
}

element.style {
    width: 100%;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    float: right;
    padding: 0;
    width: 49%;
    box-sizing: border-box;
}

.woocommerce .checkout .col-2 .form-row-first,
.woocommerce .checkout .col-2 .notes,
.woocommerce-page .checkout .col-2 .form-row-first,
.woocommerce-page .checkout .col-2 .notes {
    clear: left;
}

#order_review_heading {
    margin-top: 30px;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    margin: 20px 0 30px;
    width: 100%;
    border-collapse: separate;
    background: #fff;
}

.entry-content table,
.comment-content table {
    margin-bottom: 24px;
}

table,
th,
td {
    border: 1px solid #e5e5e5;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.entry-content th,
.comment-content th {
    padding: 5px 10px;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table tbody td,
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    border-color: #e5e5e5!important;
    padding: 5px 10px!important;
    box-sizing: border-box;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    padding: 10px 12px;
    vertical-align: middle;
}

td {
    border-width: 0 1px 1px 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th {
    font-weight: 600;
    background: none;
}

element.style {
    position: static;
    zoom: 1;
}

b,
strong {
    font-weight: 700;
}

#order_review_heading {
    margin-top: 30px;
}

#order_review {
    width: auto;
    float: left;
    margin: auto;
}

#order_review_heading {
    width: 100%;
    float: left;
}